# Αρχείο αποθήκευσης του παιχνιδιού (για να μην ανεβάζεις το δικό σου σκορ)
stock_game_web_save.json

# Προσωρινά αρχεία της Python
__pycache__/
*.pyc
.Python

# Εικονικά περιβάλλοντα (αν χρησιμοποιείς)
venv/
env/
.venv/
